<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="VaryBerry" connectionString="Server=148.72.232.184;Database=VaryBerry;UID=cnsakiwi;password=blueberry*;CharSet=utf8;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.web>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR" />
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal" />
		</securityPolicy>
		<compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestValidationMode = "2.0" />
		<pages validateRequest="false" />
  </system.web>
  <system.codedom>
  </system.codedom>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>